.anniePic {
   object-fit: cover; 
   height: 250px;
}

/* .breakLine {
 width: 50%;
 margin: auto;
 margin-top: 5%;
 margin-bottom: 5%;
 transform: rotate(4deg);
 border-color: purple;
} */

.bottomAngle {
  margin-top: 20px;
  width: 111%;
  height: 40px;
  background: #aadaac;
  /* left: -20%; */
  bottom: 100px;
  transform: rotate(3deg);
  -webkit-transform: rotate(2.5deg);
  -moz-transform: rotate(3deg);
}

.topAngle {
  margin-bottom: -50px;
  width: 120%;
  height: 45px;
  background: #aadaac;
  /* left: -20%; */
  bottom: 100px;
  transform: rotate(3deg);
  -webkit-transform: rotate(2.5deg);
  -moz-transform: rotate(3deg);
}